@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F9FAFB;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}

/* D3 chart axis text */
.domain { display: none; }
